packaging_format = 2

id = "mastodon"
name = "Mastodon"
description.en = "Libre and federated social network"
description.fr = "Réseau social libre et fédéré"

version = "4.4.8~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0-or-later"
website = "https://joinmastodon.org/"
demo = "https://joinmastodon.org/"
admindoc = "https://docs.joinmastodon.org/"
code = "https://github.com/mastodon/mastodon"
cpe = "cpe:2.3:a:joinmastodon:mastodon"
fund = "https://joinmastodon.org/sponsors"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = false

disk = "2G"
ram.build = "1G"
ram.runtime = "500M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["en_EN", "fr_FR"]
    default = "fr_FR"

    [install.admin]
    type = "user"

[resources]
    [resources.sources]
        [resources.sources.main]
        url = "https://github.com/mastodon/mastodon/archive/refs/tags/v4.4.8.tar.gz"
        sha256 = "1ceb553bc8d75fcac16124610574b6535002ae41d7bb387355d9739d502cc594"
        autoupdate.strategy = "latest_github_release"

        [resources.sources.redis_migration]
        url = "https://raw.githubusercontent.com/mastodon/redis_namespace_migration/47c6bd9757e7a40f7091b5692d78aef992ea8bf2/rename.rb"
        sha256 = "3134a5c7e0157ee752f5cb49b942c89480951e94236b03dd1cb3cb1d3afdcdd2"
        in_subdir = false
        extract = false
        rename = "rename.rb"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"
    
    [resources.permissions]
    main.url = "/"

    api.url = "/api"
    api.allowed = "visitors"
    api.auth_header = false
    api.show_tile = false
    api.protected = true

    [resources.ports]
    web.default = 3000
    stream.default = 4000

    [resources.apt]
    packages = "imagemagick, ffmpeg, libvips-tools, libpq-dev, libxml2-dev, libxslt1-dev, file, git, git-core, g++, libprotobuf-dev, protobuf-compiler, pkg-config, gcc, autoconf, bison, build-essential, libssl-dev, libyaml-dev, libreadline6-dev, zlib1g-dev, libncurses5-dev, libffi-dev, libgdbm6, libgdbm-dev, redis-tools, redis-server, rsync, postgresql, postgresql-contrib, libidn11-dev, libicu-dev, libjemalloc-dev, curl, apt-transport-https"

    [resources.database]
    type = "postgresql"

    [resources.nodejs]
    version = "22"

    [resources.ruby]
    version = "3.4.5"
