[Unit]
 Description=__APP__-streaming
 After=network.target

[Service]
 Type=simple
 User=__APP__
 WorkingDirectory=__FINALPATH__/live
 Environment="NODE_ENV=production"
 Environment="PORT=4000"
 ExecStart=/usr/bin/npm run start
 TimeoutSec=15
 Restart=always
 StandardError=syslog

[Install]
 WantedBy=multi-user.target
