[Unit]
 Description=__APP__-sidekiq
 After=network.target

[Service]
 Type=simple
 User=__APP__
 WorkingDirectory=__FINALPATH__/live
 Environment="RAILS_ENV=production"
 Environment="DB_POOL=20"
 ExecStart=__FINALPATH__/live/bin/bundle exec sidekiq -c 20 -q default -q mailers -q pull -q push
 TimeoutSec=15
 Restart=always
 StandardError=syslog

[Install]
 WantedBy=multi-user.target
